

.widget-grid{
    padding-top: 2.25rem;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    margin: 0;
    position: relative;
    width: auto;

    a {
        color: #006db6;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-size: 16px;


    }
}

.listingborder{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 1rem;
    justify-items: left;
    font-size: 15px;
    padding-bottom: 1rem;
}

.loading-icon{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 2em;

    .MuiCircularProgress-svg {
        color: var(--color-primary)
    }
}

